@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap');
body {
    height: 100vh;
    overflow: hidden;
    background-color: #333;
}

html, body, .grid-container {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    transform: rotate(-2deg);
    height: 130vh;
    width: 130vw;
    margin-top: -15vh;
    margin-left: -15vw;
    color: #efefef;
    font-family: 'Nanum Gothic Coding', monospace;
    line-height: 1.6;
    font-size: 16px;
}

a:not(.email) {
    color: yellow;
    text-decoration: none;
    border-bottom: 1px solid yellow;
    opacity: 0.8;
}

a.email {
    color: inherit;
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.5;
    font-size: 14px;
}

.text_short {
    line-height: 1.4;
}

.text_long {
    opacity: 0.5;
    line-height: 1.4;
}

p.text_long {
    margin-top: 0px;
}

.grid-container div {
    border: 1px solid #bebebe;
    padding: 20px;
    position: relative;
}

#image {
    background-image: url(images/avatar.jpeg);
    background-size: cover;
    background-position: bottom;
}

#image:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient( 45deg, black 15%, transparent 15%, transparent 85%, black 85%, black), linear-gradient( 45deg, black 15%, transparent 15%, transparent 85%, black 85%, black), linear-gradient(-45deg, black 15%, transparent 15%, transparent 85%, black 85%, black), linear-gradient(-45deg, black 15%, transparent 15%, transparent 85%, black 85%, black);
    background-size: 3px 3px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 3fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . .";
}

@media screen and (max-width: 1000px) {
    body {
        overflow: auto;
    }
    .page-wrapper {
        transform: none;
        width: 100vw;
        height: auto;
        margin-top: 0vh;
        margin-left: 0vw;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 10fr 10fr 5fr 7fr 1fr 1fr 1fr;
        grid-template-areas: " . . ";
        border: 1px solid #bebebe;
    }
}


@media screen and (max-width: 400px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 4fr 5fr 5fr 0.2fr 0.2fr 4fr 4fr 5fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr ;
        grid-template-areas: " . ";
    }
}